services:
  mongodb:
    image: mongo:8.2.1
    container_name: mongodb
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./data/mongodb:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    networks:
      - parse-network

  parse-server:
    container_name: parse-server
    image: parseplatform/parse-server:8.3.0
    restart: always
    ports:
      - 1337:1337
    volumes:
      - config-vol:/parse-server/config
    depends_on:
      - mongodb
    environment:
      - PORT=1337
      - PARSE_SERVER_APPLICATION_ID=${PARSE_SERVER_APPLICATION_ID}
      - PARSE_SERVER_MASTER_KEY=${PARSE_SERVER_MASTER_KEY}
      - PARSE_SERVER_DATABASE_URI=${PARSE_SERVER_DATABASE_URI}
      - PARSE_SERVER_URL=${PARSE_SERVER_URL}
      - PARSE_SERVER_CLOUD=${PARSE_SERVER_CLOUD}
      - PARSE_SERVER_MASTER_KEY_IPS=${PARSE_SERVER_MASTER_KEY_IPS}
    networks:
      - parse-network

  parse-dashboard:
    container_name: parse-dashboard
    image: parseplatform/parse-dashboard:8.0.0
    restart: always
    ports:
      - 4040:4040
    environment:
      - PARSE_DASHBOARD_SERVER_URL=${PARSE_SERVER_URL}
      - PARSE_DASHBOARD_APP_ID=${PARSE_SERVER_APPLICATION_ID}
      - PARSE_DASHBOARD_MASTER_KEY=${PARSE_SERVER_MASTER_KEY}
      - PARSE_DASHBOARD_APP_NAME=${PARSE_DASHBOARD_APP_NAME}
      - PARSE_DASHBOARD_ALLOW_INSECURE_HTTP=${PARSE_DASHBOARD_ALLOW_INSECURE_HTTP}
      - PARSE_DASHBOARD_USER_ID=${PARSE_DASHBOARD_USER_ID}
      - PARSE_DASHBOARD_USER_PASSWORD=${PARSE_DASHBOARD_USER_PASSWORD}
    networks:
      - parse-network

  # Optional: Mongo Restore
  mongo-restore:
    container_name: mongo-restore
    image: mongo:7.0.3
    restart: on-failure
    depends_on:
      - mongodb
    volumes:
      - ./mongo-backup:/mongo-backup:ro
    entrypoint: >
      bash -c "sleep 20 &&
      mongorestore --host mongodb --port 27017 --username ${MONGO_INITDB_ROOT_USERNAME} --password ${MONGO_INITDB_ROOT_PASSWORD} --authenticationDatabase admin --db test --drop /mongo-backup/test
      "
    networks:
      - parse-network

volumes:
  config-vol:
    driver: local

networks:
  parse-network:
    driver: bridge
